<!DOCTYPE html>
<html lang="{{ .Lang }}" itemscope itemtype="http://schema.org/WebPage">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "nav.html" . }}
    {{ block "header" . }}{{ partial "header.html" . }}{{ end }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
    {{ block "footer" . }}{{ end }}

    <script src="/static/js/zoom-image/medium-zoom.min.js" defer></script>
    <script src="/static/js/zoom-image/index.js" defer></script>
    <script src="/static/js/zoom-image/placeholders.js" defer></script>
    <script src="/node_modules/medium-zoom/dist/medium-zoom.min.js"></script>
  </body>
</html>

